@import "../default.css";

@media (min-width: 780px){
    .flex {
        display: flex;
        border: 1px solid black;
    }
}

#box-1 {
    flex: 2;
    order: 2;
}

#box-2 {
    flex: 2;
    order: 1;
}

#box-3 {
    flex: 2;
    order: 3;
}
